
@mixin zero-space() {
    padding: 0;
    margin: 0;
}

@mixin padding($top, $right, $bottom, $left) {
    padding-left: $left;
    padding-right: $right;
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin border($width: 2px, $color: black, $radius: 2px) {
    border: $width solid $color;

    @if $radius != none {
        border-radius: $radius;
    }
}

@mixin margin($top, $right, $bottom, $left) {
    margin-left: $left;
    margin-right: $right;
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin color-background($color: black, $background-color: white) {
    color: $color;
    background-color: $background-color;
}

@mixin debug($color: red) {
    // border: 2px solid $color;
}

@mixin flex($justify: center, $dir: row, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin rectangle($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin square($length: auto) {
    width: $length;
    height: $length;
}

@mixin circle($length: auto) {
    width: $length;
    height: $length;
    border-radius: 50%;
}